<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class='compras'>
            <div class="panel">
                <div class="panel-header">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="compras-descripcion">
                                <p ng-click="audio1.paused ? audio1.play() : audio1.pause()" ng-hide="noHayDatos">
                                    Aquí encontrará el resumen de sus compras del último mes.<i class="glyphicon glyphicon-volume-up"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row" ng-repeat="grupo in consumoUltimoMes">
                                <div class="compras-porcentajes">
                                    <div class="col-md-3">
                                        <div class="compras-porcentaje-tipo">
                                            <img src="img/icons/ico-compras-{{grupo.grupo_id}}-color.png" title="Icono grupo" />
                                            <p>{{ grupo.nombre}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-9 compras-porcentaje-barra">
                                        <div class="progress" go-click="/mis-compras/{{grupo.grupo_id}}">
                                            <div class="progress-bar grupo-{{grupo.grupo_id}}" style="width: {{animar ?  grupo.porcentaje_visual: '0'}}%;"></div>
                                        </div>
                                        <a href="#/mis-compras/{{grupo.grupo_id}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
