<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class='progreso'>
            <div class="panel">
                <div class="panel-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Progreso</h1>
                            <p>Aquí puede ver cuánto ha avanzado con Nutrifami y descargar los diplomas obtenidos en cada módulo.</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body" id="prueba">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mi-progreso">
                                <h2 class="text-center">Mi progreso</h2>
                                <div class="progreso-puntos-experiencia">
                                    <div class="row">
                                        <div class="col-md-3 text-center">
                                            <img width="46" src="img/badgets/icons/ico_1.png" />
                                        </div>
                                        <div class="col-md-9">
                                            <p> {{usuarioAvance.puntos}} puntos de Experiencia
                                                <!--<button class="icon ion-volume-high"></button>-->
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="progreso-porcentaje">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="progress-radial progress-{{usuarioAvance.porcentaje}}">
                                                <div class="overlay">{{usuarioAvance.porcentaje}}% <span>Aprendido</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progreso-resumen">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="img/icons/ico-progreso-nivel.png" /> Nivel Actual
                                            <br><span>{{usuarioAvance.nivel}}</span>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="img/icons/ico-progreso-leccion.png" /> Lección Actual
                                            <br><span>{{usuarioAvance.leccion}}</span>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="img/icons/ico-progreso-medallas.png" /> Medallas Ganadas
                                            <br><span>{{usuarioAvance.medallas}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mis-diplomas">
                                <h2 class="text-center">Mis Diplomas</h2>
                                <div ng-repeat="diploma in usuarioAvance.diplomas">
                                    <div class="diplomas">
                                        <div class="row">
                                            <div class="col-md-8 titulo-diploma">
                                                <p>Modulo: {{diploma}}</p>
                                            </div>
                                            <div class="col-md-4 imprimir-diploma">
                                                <a href ng-click="verDiploma($index)" tooltip-placement="bottom" uib-tooltip="Ver diploma ganado"><i class="glyphicon glyphicon-file" aria-hidden="true"></i></a>
                                                <!--<a href ng-click="descargarDiploma($index)" tooltip-placement="bottom" uib-tooltip="Descargar diploma ganado"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i></a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="text-center">Mi Familia</h2>
                            <div ng-repeat="familiar in usuarioFamilia">
                                <div class="progreso-familia">
                                    <div class="row">
                                        <div class="col-md-9 miembro-familia">
                                            <p>{{familiar.FAM_PER_NOMBRE}} {{familiar.FAM_PER_APELLIDO}} </p>
                                        </div>
                                        <div class="col-md-3 medallas">
                                            <img width="30" src="img/badgets/icons/ico_1.png" alt="" /> {{familiar.medallas}}
                                            <br><span>Medallas</span>
                                        </div>
                                        <!--<button class="icon ion-volume-high sonido"></button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
