<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class='tips'>
            <div class="panel">
                <div class="panel-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 ng-click='modulo.titulo.audio.audio.paused ? modulo.titulo.audio.audio.play() : modulo.titulo.audio.audio.pause()'><i class="tips-titulo-sonido glyphicon glyphicon-volume-up" aria-hidden="true"></i> {{modulo.titulo.texto}}</h1>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <uib-accordion close-others="oneAtATime">
                            <div ng-repeat="group in grupos">
                                <div uib-accordion-group class="panel-default" is-open="status.open">
                                    <uib-accordion-heading>
                                        {{group.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                                    </uib-accordion-heading>
                                    <div class="tip-texto" ng-repeat="item in group.items">
                                        <div ng-bind-html="item.texto | format | trust"></div>
                                        <div class="compartir"> <span>Compartir:</span>
                                            <a href socialshare socialshare-provider="facebook" socialshare-tittle="Consejo saludable Nutrifami" socialshare-text="{{item.texto | stripHTML }}" socialshare-url="http://www.nutrifami.org" socialshare-description="{{item.texto | stripHTML }}" socialshare-media="http://nutrifami.org/img/landing-aprende.png">
                                                <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                                            <a href socialshare socialshare-provider="twitter" socialshare-text="{{item.texto | stripHTML }}" socialshare-hashtags="ConsejoNutrifami" socialshare-url="nutrifami.org">
                                                <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
