<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class='tips'>
            <div class="panel">
                <div class="panel-header">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<h1 ng-click="audio1.paused ? audio1.play() : audio1.pause()"><i class="tips-titulo-sonido glyphicon glyphicon-volume-up" aria-hidden="true"></i> Consejos Saludables</h1>-->
                            <h1>Consejos Saludables</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--<p ng-click="audio2.paused ? audio2.play() : audio2.pause()"><i class="lecciones-descripcion-sonido glyphicon glyphicon-volume-up" aria-hidden="true"></i> En esta sección encontrará consejos y recomendaciones sobre nutrición, alimentación y hábitos saludables.</p>-->
                            <p>En esta sección encontrará consejos y recomendaciones sobre nutrición, alimentación y hábitos saludables.</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="m in modulos">
                            <button ng-click='m.titulo.audio.audio.paused ? m.titulo.audio.audio.play() : m.titulo.audio.audio.pause()' class="tip-sonido glyphicon glyphicon-volume-up
" aria-hidden="true"></button>
                            <div class="tip" go-click="/tips/{{m.id}}" nav-direction="forward">
                                <img ng-src="{{m.imagen.url}}" />
                                <h2>{{m.titulo.texto}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
