<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class="modulos unidad">
            <div class="panel">
                <div class="panel-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ayuda">
                                <a href ng-click='verConsejoSaludable()'><span tooltip-placement="bottom" uib-tooltip="Ver un consejo saludable" class="icono tips fa fa-lightbulb-o" aria-hidden="true"></span></a>
                                <a href ng-click="toogleNarrador()"><span tooltip-placement="bottom" uib-tooltip="{{usuarioActivo.narrador? 'Silenciar Narrador':'Activar Narrador'}}" class="icono sonido glyphicon" ng-class="usuarioActivo.narrador ? 'glyphicon-volume-up':'glyphicon-volume-off apagado'" aria-hidden="true"></span></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-11">
                            <div class="leccion-avance">
                                <uib-progressbar max="unidad.totalUnidades" value="unidad.numeroUnidad"><span style="color:white; white-space:nowrap;">{{unidad.numeroUnidad}} / {{unidad.totalUnidades}}</span></uib-progressbar>
                                <div class="leccion-ok"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="unidad-descripcion">
                                <div class="unidad-tipo-descripcion">
                                    <h2><img ng-src="img/icons/{{unidad.tipo.icono}}" /> {{ unidad.instruccion.texto}}
                                        <a ng-hide="{{unidad.instruccion.audio.nombre == ''}}" href ng-click='unidad.instruccion.audio.audio.paused ? unidad.instruccion.audio.audio.play() : unidad.instruccion.audio.audio.pause()' ><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a>
                                    </h2>
                                </div>
                                <h3>{{ unidad.titulo.texto}} <a href ng-hide="{{ unidad.audio.nombre == ''}}" ng-click='unidad.audio.audio.paused ? unidad.audio.audio.play() : unidad.audio.audio.pause()'><span  class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a></h3>
                                <img ng-src="{{unidad.imagen.url}}" alt="{{ unidad.titulo.texto}}" ng-hide="{{unidad.imagen.nombre == ''}}" />
                                <div class="unidad-informativa" ng-bind-html="unidad.texto | trust" ng-hide="unidad.texto =='' "></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <!--
    * Se define el tipo de pregunta para adaptar el funcionamiento
    * id = 1 ; Contenidos
    * id = 2; Parejas
    * id = 3,4,5; Opción multiple con única respuesta, y verdadero o falso.
                    -->
                    <!--<div class="row">
                        <div class="col-xs-12">
                            <div class="unidad-informativa" ng-show="unidad.tipo.id == 1">
                                <p ng-click="">
                                    <button class="glyphicon glyphicon-volume-up" aria-hidden="true"></button> {{ unidad.texto}}
                                </p>
                                <ul ng-repeat="opcion in unidad.opciones">
                                    <li>
                                        {{opcion.texto}}
                                        <button ng-click='opcion.audio.audio.paused ? opcion.audio.audio.play() : opcion.audio.audio.pause()' button class="glyphicon glyphicon-volume-up" aria-hidden="true">
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                    <div class="row unidad-parejas" ng-show="unidad.tipo.id == 2">
                        <parejas-unidad-info ng-repeat="opcion in unidad.opciones" info="opcion" index="{{$index}}"></parejas-unidad-info>
                    </div>
                    <div class="row" ng-show="unidad.tipo.id == 3 || unidad.tipo.id == 4 || unidad.tipo.id == 5">
                        <opciones-unidad-info ng-repeat="opcion in unidad.opciones" info="opcion" index="{{$index}}" colspan="unidad.colspan" ng-click="validar()"></opciones-unidad-info>
                    </div>
                    <div class="row">
                        <div class="calificacion">
                            <div class="col-md-4 col-md-offset-8">
                                <div ng-class=" botonCalificar ? 'activo' : 'no-activo'">
                                    <span type="button" class="btn btn-default center-block" role="button" ng-click="calificarUnidad()" ng-disabled="!botonCalificar">{{textoBoton}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<pre>{{ unidad | json : unidad}}</pre>-->
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
