<div class="compras-grupo">
    <div class="modal-header grupo-{{data.grupo_id}}">
        <div class="titulo">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{data.nombre}}</h1>
                </div>
            </div>
        </div>
        <div class="sub-header">
            <div class="row">
                <div class="col-md-4 total-compra">
                    <p class="valor"><span>Total Compra</span>
                        <br>${{data.totalCompra}}</p>
                </div>
                <div class="col-md-4">
                    <div class="progress-radial progress-{{data.porcentaje_visual}}">
                        <div class="overlay grupo-{{data.grupo_id}}"><img src="img/icons/ico-compras-{{data.grupo_id}}.png" /> </div>
                    </div>
                </div>
                <div class="col-md-4 estado">
                    <img src="img/icons/ico-compras-{{data.carita}}.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="compras-grupo-descripcion">
            <div class="row">
                <div class="col-md-12">
                    <p ng-click="playAudio(data.grupo_id)">
                        <i class="glyphicon glyphicon-volume-up"></i> Este es el resumen de sus compras en {{data.nombre}}
                    </p>
                </div>
            </div>
        </div>
        <div class="compras-resumen">
            <div ng-repeat="compra in data.compra" class="row">
                <div class="col-md-8 nombre-producto">{{compra.nombre}}</div>
                <div class="col-md-4 precio">$ {{compra.total}}</div>
            </div>
            <div class="totales">
                <div class="row">
                    <div class="col-md-8">Total</div>
                    <div class="col-md-4 precio">$ {{ data.totalCompra}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
