<div class="modal-body">
    <div class="diploma" id="imprimirDiploma">
        <div class="rollo-arriba">
            <img class="medalla" src="../img/diploma-medalla.png">
        </div>
        <div class="papel center-block">
            <div class="margen">
                <h1>Diploma</h1>
                <p>otorgado a:</p>
                <h2>{{data.nombre}} {{data.apellido}}</h2>
                <p>por haber aprobado exitosamente el Módulo de capacitación</p>
                <h3>{{data.modulo}}</h3>
                <img class="center-block" src="../img/logo-nutrifami-verde.png" width="90px" />
                <h4>2017</h4>
                <img class="center-block" src="../img/diploma-estrellas.png" width="90px">
            </div>
        </div>
        <div class="rollo-abajo">
        </div>
    </div>
    <div class="modal-footer">
        <div class="activo">
            <a href class="btn btn-default " role="button" ng-click="descargar()"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>
 Descargar</a>
            <a href class="btn btn-default " role="button" ng-click="cerrar()">Continuar</a>
        </div>
    </div>
</div>
