<div class="calificacion">
    <div class="modal-header">
        <span class="center-block glyphicon" ng-class="data.estado == 'acierto' ? 'glyphicon-ok bien' :'glyphicon-remove mal'" aria-hidden="true"></span>
    </div>
    <div class="modal-body">
        <div>
            <p class="mensaje" ng-show="{{data.estado === 'acierto'}}">Muy bien! Respuesta correcta</p>
            <p class="mensaje" ng-hide="{{data.estado === 'acierto'}}">Intenta de nuevo! respuesta incorrecta</p>
            <div ng-repeat="fb in data.feedback track by $index" class="feedback" ng-bind-html="fb.texto | trust"></div>
        </div>
        <div class="modal-footer">
            <div ng-class=" data.activo ? 'activo' : 'no-activo'">
                <a href class="btn btn-default center-block bloqueado" role="button" ng-click="!data.activo || clickBoton()">{{ data.estado == 'acierto' ? 'Continuar':'Intentar de nuevo'}}</a>
            </div>
        </div>
    </div>
</div>
