<div class="login">
    <div class="cerrar">
        <button class="glyphicon glyphicon-remove" ng-click="cancel()"></button>
    </div>
    <div class="row logo text-center">
        <div class="col-md-12">
            <img src="img/logo-nutrifami.png" alt="Nutrifami" />
        </div>
    </div>
    <form name="form" ng-submit="login()" role="form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="username" id="username" class="ldocumento" placeholder="Escriba su número de documento" autocomplete="off" ng-model="username" required />
                    <div ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Número de Documento es necesario</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="password" id="password" class="lcodigo" placeholder="Escriba su código" autocomplete="off" ng-model="password" required />
                    <div ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Código es necesario</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-actions">
                    <button type="submit" class="btn center-block login-enviar" ng-disabled="form.$invalid" ion-ripple>Ingresar</button>
                    <div ng-show="error" class="help-block">{{error}}</div>
                </div>
            </div>
        </div>
        <div class="row logo-wfp center-block">
            <div class="col-md-12">
                <img src="img/logo-wfp.png" alt="Logo Programa Mundial de Alimentos - Naciones Unidas" />
            </div>
        </div>
    </form>
</div>
