<div class="calificacion">
    <div class="modal-header">
        <span class="center-block glyphicon glyphicon-remove mal" aria-hidden="true"></span>
    </div>
    <div class="modal-body">
        <div>
            <p class="mensaje">No hay información de compras para este usuario </p>
        </div>
        <div class="modal-footer">
            <div class="activo">
                <a href class="btn btn-default center-block bloqueado" role="button" ng-click="cerrar()">Cerrar</a>
            </div>
        </div>
    </div>
</div>
