<div class="calificacion">
    <div class="modal-header">
        <h1 style="text-align: center;">En construcción</h1>
    </div>
    <div class="modal-body">
        <div>
            <p class="mensaje">Estamos trabajando para que pueda habilitar esta sección lo antes posible</p>
        </div>
        <div class="modal-footer">
            <div class="activo">
                <a href class="btn btn-default center-block bloqueado" role="button" ng-click="cerrar()">Cerrar</a>
            </div>
        </div>
    </div>
</div>
