<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class="nutricompra">
            <div class="panel como-jugar">
                <div class="btn-back">
                    <a href="#/nutricompra">
                        <img src="img/nutricompra/nc-btn-back.png"></a>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>¿Cómo Jugar?</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Debes agregar <span>15</span> productos <br>a su carrito de compras.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="paso">
                            <img src="img/nutricompra/nc-como-1.png">
                            <p>Selecciona el producto que quieres comprar.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="paso paso-2">
                            <img src="img/nutricompra/nc-como-2.png">
                            <p>Aquí puedes ver el resumen de los productos que has agregado al carrito de compras.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="paso">
                            <img src="img/nutricompra/nc-como-3.png">
                            <p>Puedes sacar productos que no quieras dando clic en la equis blanca de fondo rojo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
