<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class="nutricompra">
            <div class="panel intro">
                <div class="row">
                    <div class="col-md-12">
                        <img src="img/nutricompra/nutricompra-logo.png" class="center-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="img/nutricompra/nutricompra-home-image.png" class="center-block">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2><a href="#/nutricompra/como-jugar">¿Cómo Jugar?</a></h2>
                        <a href="#/nutricompra/jugar" class="btn btn-default center-block" role="button">Jugar</a>
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
