<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class="nutricompra">
            <div class="panel jugar">
                <div class="header row">
                    <div class="col-md-2">
                        <div class="btn-back-jugar">
                            <a href ng-click="salir()">
                                <img src="img/nutricompra/nc-btn-back-white.png"></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel-central">
                            <div class="cantidad-productos">
                                <ul>
                                    <li ng-repeat="grupo in productosCarrito track by $index" ng-hide="grupo.grupo == 'inadecuados'">
                                        <img src="img/nutricompra/icons/ico_{{grupo.grupo}}_gris.png" ng-hide="grupo.productos.length > 0">
                                        <img src="img/nutricompra/icons/ico_{{grupo.grupo}}.png" ng-show="grupo.productos.length > 0">
                                    </li>
                                </ul>
                            </div>
                            <div class="carrito" ng-click="verResumen()">
                                <img src="img/nutricompra/ico_carrito.png">
                                <div class="carrito-cantidad">{{cantidadProductosCarrito}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vitrina">
                    <div class="productos">
                        <div ng-repeat="producto in productosVitrina track by $index">
                            <div class="selector" ng-class="producto.seleccionado ? 'seleccionado':''" ng-hide="producto.pagina != pagina">
                                <div class="producto">
                                    <a href ng-click="agregarProductoAlCarrito(producto.grupo, producto.id_producto, $index)" ng-mouseover="sombra = 'sombra/'" ng-mouseout="sombra = ''"><img src="/img/nutricompra/icons/{{producto.imagen}}.png" ng-src="/img/nutricompra/icons/{{sombra}}{{producto.imagen}}.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carro">
                        <div ng-repeat="grupo in productosCarrito track by $index">
                            <div class="producto-carrito" style="left:{{producto.left}}; top:{{producto.top}}" ng-repeat="producto in grupo.productos track by $index">
                                <img src="img/nutricompra/icons/ico_{{grupo.alias}}_{{producto.id_producto}}.png" />
                            </div>
                        </div>
                        <img class="img-carro" src="img/nutricompra/carrito.png">
                    </div>
                    <div class="pagina-anterior" ng-click="paginaAnterior()" ng-hide="pagina==1">
                    </div>
                    <div class="pagina-siguiente" ng-click="paginaSiguiente()" ng-hide="pagina==3">
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
