<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class="nutricompra">
            <div class="panel jugar">
                <div class="header row">
                    <div class="col-md-2">
                        <div class="btn-back-jugar">
                            <a href="#/nutricompra/jugar">
                                <img src="img/nutricompra/nc-btn-back-white.png"></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel-central">
                            <div class="cantidad-productos">
                                <ul>
                                    <li ng-repeat="grupo in productosCarrito track by $index" ng-hide="grupo.grupo == 'inadecuados'">
                                        <img src="img/nutricompra/icons/ico_{{grupo.grupo}}_gris.png" ng-hide="grupo.productos.length > 0">
                                        <img src="img/nutricompra/icons/ico_{{grupo.grupo}}.png" ng-show="grupo.productos.length > 0">
                                    </li>
                                </ul>
                            </div>
                            <div class="carrito" ng-click="verResumen()">
                                <img src="img/nutricompra/ico_carrito.png">
                                <div class="carrito-cantidad">{{cantidadProductosCarrito}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resumen">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Resumen de mi compras</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-repeat="grupo in productosCarrito track by $index">
                            <div class="grupo">
                                <div class="grupo-icono" tooltip-placement="right" uib-tooltip="{{grupo.nombre}}">
                                    <img src="img/nutricompra/icons/ico_{{grupo.grupo}}.png" ng-show="grupo.productos.length > 0" />
                                    <img src="img/nutricompra/icons/ico_{{grupo.grupo}}_gris.png" ng-hide="grupo.productos.length > 0" />
                                    <div class="grupo-cantidad" ng-show="grupo.productos.length > 0">{{grupo.productos.length}}</div>
                                </div>
                                <div class="grupo-productos">
                                    <div class="producto" ng-repeat="producto in grupo.productos track by $index">
                                        <img src="img/nutricompra/icons/ico_{{grupo.alias}}_{{producto.id_producto}}.png" />
                                        <div class="cerrar" ng-click="quitarProducto(grupo.alias, $index)">X</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
