<header ng-controller="HeaderController">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-href="#/capacitacion"><img ng-src="../img/logo-nutrifami.png"></a>
            </div>
            <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
                <ul class="nav navbar-nav">
                    <li ng-class=" home ? 'active':''">
                        <a ng-href="#/capacitacion" tooltip-placement="bottom" uib-tooltip="5 módulos para Aprender Jugando. Lea, escuche y seleccione las opciones de respuesta. Podrá evaluar sus conocimientos y recibir importantes consejos!">Aprenda con Nutrifami <span class="sr-only">(current)</span></a>
                    </li>
                    <li ng-class=" compras ? 'active':''">
                        <a ng-href="#/mis-compras/intro" tooltip-placement="bottom" uib-tooltip="Si es beneficiario de Bonos del Programa Mundial de Alimentos - PMA, Nutrifami analiza sus compras y le brinda consejos para la diversidad de su dieta y una alimentación balanceada y nutritiva.">Mis Compras</a>
                    </li>
                    <li ng-class=" progreso ? 'active':''"><a ng-href="#/mi-progreso" tooltip-placement="bottom" uib-tooltip="Aquí puede ver cuánto ha avanzado con Nutrifami y descargar los diplomas obtenidos en cada módulo.">Progreso</a></li>
                    <li ng-class=" tips ? 'active':''"><a ng-href="#/tips" tooltip-placement="bottom" uib-tooltip="En esta sección encontrará consejos y recomendaciones sobre nutrición, alimentación y hábitos saludables.">Consejos Saludables</a></li>
                    <li ng-class=" nutricompra ? 'active':''"><a ng-href="#/nutricompra" tooltip-placement="bottom" uib-tooltip="Divertido juego para que ponga a prueba todas sus habilidades, para elegir adecuadamente los alimentos para su hogar.">Nutricompra</a></li>
                    <li ng-class=" sobre ? 'active':''"><a ng-href="#/sobre-nutrifami">Sobre Nutrifami</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-href="#/perfil">{{ usuarioActivo.nombre | capitalize:true }} <i ng-show="usuarioActivo.municipio == null || usuarioActivo.municipio == ''" class="glyphicon glyphicon-exclamation-sign" tooltip-placement="bottom" uib-tooltip="Hay algunos campos de su perfil que faltan por completar. !Haga clic aquí para completar toda la información!"></i></a></li>
                    <li><a ng-href="#/">Cerrar Sesión</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container" ng-show="{{breadcrumb}}">
        <ol class="breadcrumb">
            <li ng-repeat="link in links" ng-class="{'active':$last}">{{link.texto}}</li>
        </ol>
    </div>
</header>
