<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class='compras'>
            <div class="panel">
                <div class="panel-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Mis Compras</h1>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="compras-descripcion">
                                <p ng-click='' ng-show="noHayDatos">
                                    No se encontraron registros para este usuario
                                </p>
                                <p ng-click="audio1.paused ? audio1.play() : audio1.pause()" ng-hide="noHayDatos">
                                    <i class="glyphicon glyphicon-volume-up"></i> Aquí encontrará el resumen de sus compras del último mes
                                </p>
                            </div>
                            <div class="compras-porcentajes">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-4">
                                        <div class="compras-ideal"></div>
                                        <div class="compras-ideal-max"></div>
                                        <div class="compras-ideal-min"></div>
                                        <div class="compra-ideal-convencion">Compra
                                            <br>Ideal</div>
                                    </div>
                                </div>
                                <div class="row" ng-repeat="grupo in consumoUltimoMes">
                                    <div class="col-md-4">
                                        <div class="compras-porcentaje-tipo">
                                            <p>{{ grupo.nombre}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-8 compras-porcentaje-barra">
                                        <div class="progress" ng-click="verGrupo(grupo.grupo_id)">
                                            <div class="progress-bar grupo-{{grupo.grupo_id}}" style="width: {{animar ?  grupo.porcentaje_visual: '0'}}%;"></div>
                                            <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="recomendados-header" ng-click="audio2.paused ? audio2.play() : audio2.pause()">
                                <img src="img/canasta-ideal.png" alt="Canasta ideal" />
                                <p><i class="glyphicon glyphicon-volume-up"></i> Aquí encontrará recomendaciones para que su dieta sea más variada</p>
                            </div>
                            <div class="recomendados-body">
                                <uib-accordion close-others="oneAtATime">
                                    <div ng-repeat="group in gruposAlimenticios">
                                        <div uib-accordion-group class="panel-default grupo-{{group.grupo_id}}" is-open="status.open">
                                            <uib-accordion-heading>
                                                <img src="img/icons/ico-compras-{{group.grupo_id}}.png" ng-hide="group.nombre === null" /> {{group.nombre !== null ? group.nombre : 'Sin categoria'}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
                                            </uib-accordion-heading>
                                            <p ng-repeat="item in group.productos">
                                                {{item.nombre}}
                                            </p>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
